body {
	font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica,
		sans-serif;
	font-size: 12px;
	font-weight: normal;
}

/* ------------------------- TITULOS ----------------------- */
a {
	color: #004993;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #808080;
	text-decoration: underline;
	font-weight: bold;
}

a:visited {
	color: #808080;
	text-decoration: none;
	font-weight: bold;
}

a:active {
	color: #A6A6A6;
	text-decoration: none;
	font-weight: bold;
}

/**********************/
a.enlace {
	font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica,
		sans-serif;
	font-size: 9px;
	color: #006699;
	text-decoration: none;
	font-weight: normal;
}

a.enlace:hover {
	color: #006699;
	text-decoration: underline;
	font-weight: normal;
}

a.enlace:visited {
	color: #006699;
	text-decoration: none;
	font-weight: normal;
}

a.enlace:active {
	color: #006699;
	text-decoration: none;
	font-weight: normal;
}

/***********************/
a.enlace1 {
	font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica,
		sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
}

a.enlace1:hover {
	color: #646663;
	text-decoration: underline;
	font-weight: bold;
}

a.enlace1:visited {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}

a.enlace1:active {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}

/***********************/
a.enlace2 {
	font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica,
		sans-serif;
	font-size: 10px;
	color: #004993;
	text-decoration: none;
	font-weight: bold;
}

a.enlace2:hover {
	color: #006699;
	text-decoration: underline;
	font-weight: bold;
}

a.enlace2:visited {
	color: #006699;
	text-decoration: none;
	font-weight: bold;
}

a.enlace2:active {
	color: #006699;
	text-decoration: none;
	font-weight: bold;
}

/***********************/
a.enlace3 {
	font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica,
		sans-serif;
	font-size: 11px;
	color: #FF880A;
	text-decoration: none;
	font-weight: bold;
}

a.enlace3:hover {
	color: #5B5B5B;
	text-decoration: underline;
	font-weight: bold;
}

a.enlace3:visited {
	color: #FF880A;
	text-decoration: none;
	font-weight: normal;
}

a.enlace3:active {
	color: #70A600;
	text-decoration: none;
	font-weight: bold;
}

/***********************/
a.enlace4 {
	font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica,
		sans-serif;
	font-size: 10px;
	color: #37761D;
	text-decoration: none;
	font-weight: bold;
}

a.enlace4:hover {
	color: #37761D;
	text-decoration: none;
	font-weight: normal;
}

a.enlace4:visited {
	color: #37761D;
	text-decoration: none;
	font-weight: bold;
}

a.enlace4:active {
	color: #37761D;
	text-decoration: none;
	font-weight: bold;
}

/***********************/
a.enlace5 {
	font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica,
		sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

a.enlace5:hover {
	font-size: 9px;
	color: #FFF8DC;
	text-decoration: none;
	font-weight: normal;
}

a.enlace5:visited {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

a.enlace5:active {
	color: #FFF8DC;
	text-decoration: none;
	font-weight: bold;
}

/*************************************/
a.pag1:link {
	font-family: "Lucida Grande", arial, helvetica;
	font-size: 13px;
	color: Purple;
	font-weight: normal;
	text-decoration: underline;
}

a.pag1:visited {
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	color: Black;
	font-size: 13px;
	font-weight: normal;
	text-decoration: underline;
}

a.pag2:link {
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	color: Red;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}

a.pag2:visited {
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	color: Red;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}

a.sgte:link {
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	color: Blue;
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
}

a.sgte:visited {
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	color: Blue;
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
}

/* ------------------------- TITULOS ----------------------- */
.tituloDiv {
	background: #ededed;
	border-right: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	border-top: 1px solid #ededed;
	border-left: 1px solid #ededed;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-indent: 8px;
	text-align: left;
}

.marcoImportante {
	background: #ededed;
	border-right: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	border-top: 1px solid #ededed;
	border-left: 1px solid #ededed;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-indent: 8px;
	text-align: left;
}

/***********CAMPOS DE TABLA************/
td {
	font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica,
		sans-serif;
	font-size: 11px;
	font-weight: normal;
	vertical-align: top;
}

.titulo {
	font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica,
		sans-serif;
	font-size: 18px;
	font-weight: bold;
	background: White;
}

.infoBasica{
	text-align: left;	
}

.texto1 {
	font-weight: bold;
}

.texto2 {
	color: #666666;
	font-size: -1px;
}

.texto3 {
	color: #666666;
	font-size: -1px;
	font-weight: bold;
	font-style: italic;
}

.texto4 {
	color: #004993;
	font-size: 11px;
	font-weight: bold;
}

.texto5 {
	color: #ff0800;
	font-size: 11px;
	font-weight: bold;
}

.texto6 {
	color: #E57702;
	font-size: 9px;
	font-weight: bold;
}

.texto7 {
	color: #006699;
	font-size: 10px;
	font-weight: bold;
}

.texto8 {
	color: #3B8725;
	font-size: 14px;
	font-weight: bold;
}

/* ----------------------- FORMULARIOS  ------------------------ */
div.scroll {
	background-color: transparent;
	border: 0px none #000000;
	overflow: auto;
	position: relative;
	height: 25%;
	width: 80%;
	left: auto;
	top: auto;
}

.positionPopUp {
	position: fixed;
	top: 1px;
}

.ScrollLb {
	height: 90px;
	overflow: auto;
	width: 200px;
}

INPUT {
	margin: 2px;
	padding: 1px;
	font: 11px tahoma;
	background: #FFF;
	border: 1px solid #d9d9d9;
}

TEXTAREA {
	margin: 2px;
	padding: 1px;
	font: 11px tahoma;
	background: #FFF;
	border: 1px solid #d9d9d9;
}

SELECT {
	margin: 2px;
	padding: 1px;
	font: 11px tahoma;
	background: #FFF;
	border: 1px solid #d9d9d9;
}

BUTTON {
	font-size: 8pt;
	background-color: #FFFFFF;
	font-family: "Lucida Grande", verdana, tahoma, arial, helvetica;
	margin: 10px auto;
	top: 0px;
	padding: 3px;
	border-right: 1px solid #76A2C9;
	border-bottom: 1px solid #76A2C9;
	border-top: 1px solid #76A2C9;
	border-left: 1px solid #76A2C9;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-weight: bold;
}

.button {
	-moz-border-radius: 3px;
}

.button-dis {
	-moz-border-radius: 3px;
}

.button:hover,.boton_app a,.boton_app a:hover,.boton_app a:visited {
	background: #8CBCE3;
	color: #000000;
	text-decoration: none;
	border-color: #356B9E;
}

H3 {
	color: #004993
}

.mensajes {
	width: 100%;
	text-align: left;
}

.infoMensajes {
	color: #3B8725;
	font-size: 10px;
	font-weight: bold;
}

.warnMensajes {
	color: #e9d731;
	font-size: 10px;
	font-weight: bold;
}

/*---------------*/
fieldset {
	background-color: #fff;
	padding: 5px;
	text-align: center;
	margin: 2px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #d7d7d7;
}

fieldset legend {
	border-top: 1px solid #f0f0f0;
	border-left: 1px solid #f0f0f0;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background-color: #fafafa;
	cursor: default;
	font-size: 12px;
}

.titulo_pagina {
	color: #70A600;
	font-size: 16px;
}

.requerido {
	
}

.requerido:after {
	content: " (*)";
	color: #ff0800;
}

.important {
	color: #004993;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
}

.importantError {
	color: red;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
}

.tamanioNumeroChico {
	width: 50px;
}

.tamanioNumeroChico-dis {
	width: 50px;
	margin: 1px;
	padding: 1px;
}

.tamanioNumeroMedio {
	width: 100px;
}

.tamanioTextoLargo {
	width: 200px;
}

.tamanioTextoMedio {
	width: 150px;
}

.tamanioTextoLargoTxt {
	width: 200px;
}

/* ---------- Column widths ---------- */
.column-ten {
	width: 10%;
}

.column-twenty {
	width: 20%;
}

.column-thirty {
	width: 30%;
}

.column-forty {
	width: 40%;
}

.column-fifty {
	width: 50%;
}

.column-sixty {
	width: 60%;
}

.column-seventy {
	width: 70%;
}

.column-eighty {
	width: 80%;
}

.column-ninety {
	width: 90%;
}

/* ---------- Mensajes de informacion. ---------- */
.msg-info {
	background: #DFF4FF url(../images/messages/infoGrande.png) no-repeat 6px
		50%;
	border: 1px solid #A7CEDF;
	color: #34404F;
	display: block;
	font-weight: bold;
	font-size: 12px;
	margin: 2px auto 14px;
	padding: 6px 6px 6px 30px;
	text-align: left;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.msg-warn {
	background: #FBF9B4 url(../images/messages/warning.png) no-repeat 6px
		50%;
	border: 1px solid #FFFF00;
	display: block;
	font-weight: bold;
	font-size: 12px;
	margin: 2px auto 14px;
	padding: 6px 6px 6px 30px;
	text-align: left;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.msg-warn-ind {
	font-size: 10px;
	background: #FBF9B4 url(../images/messages/warning.png) no-repeat 6px
		50%;
	margin: 2px auto 14px;
	padding: 1px 1px 1px 25px;
}

.msg-info-ind {
	color: #34404F;
	font-size: 10px;
	background: #DFF4FF url(../images/messages/info.png) no-repeat 6px 50%;
	margin: 2px auto 14px;
	padding: 1px 1px 1px 25px;
}

/* ---------- Error messages ---------- */
.msg-error {
	display: block;
	font-weight: bold;
	font-size: 10px;
	color: #ff0800;
	margin: 2px auto 2px;
	margin-left: 10px;
	padding-left: 5px;
	text-align: left;
}

.msg-error-ind {
	color: #ff0800;
	font-size: 10px;
	background: #FDD url(../images/error.png) no-repeat 6px 50%;
	margin: 2px auto 14px;
	padding: 1px 1px 1px 25px;
}

/* ---------- Warning messages ---------- */
.msg-alert {
	color: #384F34;
	display: block;
	font-weight: bold;
	font-size: 10px;
	margin: 2px auto 2px;
	margin-left: 10px;
	padding-left: 5px;
	text-align: left;
}

/* ---------- Success messages ---------- */
.msg-success {
	color: #000000;
	display: block;
	font-weight: bold;
	font-size: 10px;
	margin: 2px auto 2px;
	margin-left: 10px;
	padding-left: 5px;
	text-align: left;
}

.tamanioPagina {
	width: 90%;
}

.centrado {
	margin: auto;
	width: 90%;
}

.column-left {
	width: 60%;
	text-align: left;
}

.column-right {
	width: 40%;
	text-align: right;
}

.negative-value {
	color: #ff0800;
	text-decoration: none;
}

.positive-value {
	color: #0000ff;
	text-decoration: none;
}

.superscript {
	font-size: xx-small;
	vertical-align: top;
}

.subscript {
	font-size: xx-small;
	vertical-align: bottom;
}

.nota {
	color: #007f10;
	font-weight: bold;
}

.background {
	width: 100%;
	height: 170px;
}

.scroll {
	background-color: #00FFFF;
	width: 100%;
	height: 200px;
	overflow: auto;
}

.campoGral {
	background:#FFFFFF
}

.campoDif {
	background:#E8E8E8
}